<!-- Default home page -->
<!-- <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/> -->
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->

<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="/img/facebook_logo_pink.png" />

        <div calss="share-button">
            <span class='st_fblike_hcount' displayText='Facebook Like'></span>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_pinterest_hcount' displayText='Pinterest'></span>
            <span class='st_digg_hcount' displayText='Digg'></span>
            <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
        </div>
    </div>


</div>

    
<!--     <ul id="demo-block">
        <li><a href="http://buildinternet.com/project/supersized/" target="_blank"><img src="img/supersized-logo.png"/></a></li>
        <li>Photographers: <a href="http://cargocollective.com/mariakazvan" target="_blank">Maria Kazvan</a>, <a href="http://colindub.com" target="_blank">Colin Wojno</a>, &amp; <a href="http://brookeshaden.com/" target="_blank">Brooke Shaden</a></li>
    </ul> -->
    
    <!--End of styles-->

    <!--Thumbnail Navigation-->
    <div id="prevthumb"></div>
    <div id="nextthumb"></div>
    
    <!--Arrow Navigation-->
    <a id="prevslide" class="load-item"></a>
    <a id="nextslide" class="load-item"></a>
    
    <div id="thumb-tray" class="load-item">
        <div id="thumb-back"></div>
        <div id="thumb-forward"></div>
    </div>
    
    <!--Time Bar-->
    <div id="progress-back" class="load-item">
        <div id="progress-bar"></div>
    </div>
    
    <!--Control Bar-->
    <div id="controls-wrapper" class="load-item">
        <div id="controls">
            
            <a id="play-button"><img id="pauseplay" src="img/pause.png"/></a>
        
            <!--Slide counter-->
            <div id="slidecounter">
                <span class="slidenumber"></span> / <span class="totalslides"></span>
            </div>
            
            <!--Slide captions displayed here-->
            <div id="slidecaption"></div>
            
            <!--Thumb Tray button-->
            <a id="tray-button"><img id="tray-arrow" src="img/button-tray-up.png"/></a>
            
            <!--Navigation-->
            <ul id="slide-list"></ul>
            
        </div>
    </div>